.allStyle{
  padding: 15px;
  margin: 20px;

}
.toDoForm{
  width: 800px;
  border-radius: 2px;
  border: 1px solid blue;
  color: midnightblue;
  font-size: 18px;
  background: #fff;
}

.addForm{
  box-shadow: 1px 1px 1px black;
  border: 1px solid black;
  width: 500px;
  font-size: 20px;
  color: midnightblue;
  background: lightgray;
}


