<form (submit)="onInput($event)">
  <input
    class="addForm allStyle"
    name="addForm"
    placeholder="Add new Task"
   [(ngModel)]="toDo"
  />
  <button
    class="btn allStyle"
    type = "submit"
    [disabled]="toDo=== ''"
    >Add</button>
</form>
<div class="toDoForm allStyle" *ngIf="showToDo">
  <app-checkbox
    *ngFor="let toDo of toDoArray; let i = index"
    [toDo]="toDo"
    (delete)=" onDelete(i)"
    (changeToDo)="changeInput(i, $event)"
  ></app-checkbox>
</div>



