.toDo{
  width: 20px;
  height: 20px;
  margin: 0;
  outline-color: darkblue;
}
.ready{
  border: none;
  outline: none;
  width: 500px;
  font-style: italic;
  font-size: 20px;
  color: blue;
}
.readyFocus{
  border-bottom: 1px solid blue;
}
.allStyle{
  padding: 15px;
}
